.inner1 {
  background-color: rgb(140, 140, 140);
  height: 100vh;
}

.inner2 {
  background-color: rgb(101, 101, 101);
  height: 100vh;
}

.inner3 {
  background-color: rgb(71, 71, 71);
  height: 100vh;
}

.content {
  width: 50%;
  margin: auto;
  padding-top: 100px;
}

.content > p {
  font-size: 18px;
}


.img-thumbnail {
  cursor: pointer;
}
