
.Projects {
  height: 100vh;
}

.inner1 {
  background-color: rgb(150, 150, 150);
  height: 100vh;
}

.inner2 {
  background-color: rgb(130, 130, 130);
  height: 100vh;
}

.inner3 {
  background-color: rgb(101, 101, 101);
  height: 100vh;
}

.title {
  font-size: 5em;
  text-transform: uppercase;
}

.content {
  width: 65%;
  margin: auto;
  padding-top: 5vmin;
}

.description {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 768px) {
  .content > p {
    font-size: 1em;
  }
}

@media only screen and (min-width: 769px) {
  .content > p {
    font-size: 1.6em;
  }

  .carousel-indicators {
    bottom: 4em;
  }

  .img-thumbnail {
    cursor: pointer;
    width: 80%;
  }
}
