.About {
  height: 100vh;
}

.Nav {
  margin: auto;
  margin-left: 10vmin;
}

.nav-link {
  border: none;
  color: inherit;
  font-size: 2vw;
}

.active {
  border: none;
  background-color: none;
}

.vr {
  border-top: 10px solid rgba(0,0,0,0);
  border-bottom: 10px solid rgba(0,0,0,0);
  border-right: 10px solid #ffe100;
  height: 600px;
  margin: auto 0px;
}

.About {
  display: flex;
  flex-direction: row;
  height: 100vh;
  background-color: rgb(229, 230, 213);
}

@media only screen and (max-width: 768px) {
  .technologies {
    display: flex;
    flex-direction: column;
    font-size: 1.6em;
  }
  .Nav {
    margin-left: auto;
  }
  .brand-statement {
    padding: 3vmin;
    font-size: 1.6em;
  }
  #education {
    font-size: 1.6em;
  }
  h2 {
    font-size: 2em;
    padding: 1vmin;
  }
  .vr {
    border-top: 6px solid rgba(0,0,0,0);
    border-bottom: 6px solid rgba(0,0,0,0);
    border-right: 6px solid #ffe100;
    height: 300px;
  }
}

@media only screen and (min-width: 769px) {
  .technologies {
    display: flex;
    flex-direction: column;
  }
  .right {
    padding-left: 5vmin;
  }

}




.tab-content {
  margin: auto;
  width: 60%;
  font-size: 2vw;
  font-style: italic;
  font-weight: lighter;
  color: #343A40;
  text-align: justify;
}


.logo {
  font-size: 2em;
  border: 1px solid black;
  color: white;
  background-color: #343A40;
  padding: 5px;
  margin: 3px;
}

h2 {
  font-size: 1em;
  text-decoration: underline;
  }

.languages {
  padding: 1vmin;
}
