.About {
  display: flex;
  flex-direction: row;
  height: 100vmin;
  background-color: rgb(229, 230, 213);
}

.Nav {
  margin: auto;
  margin-left: 10vmin;
}

.nav-link {
  border: none;
  color: inherit;
  font-size: 2vw;
}

.active {
  border: none;
  background-color: none;
}

.tab-content {
  margin: auto;
  width: 60%;
  font-size: 2vw;
  font-style: italic;
  color: rgb(128, 128, 128);
  text-align: justify;
}

.vr {
  border-top: 10px solid rgba(0,0,0,0);
  border-bottom: 10px solid rgba(0,0,0,0);
  border-right: 10px solid #ffe100;
  height: 600px;
  margin: auto 0px;
}
