.Contact {
  height: 100vh;
  background-color: rgb(229, 230, 213);
  padding: 4vmin;
  display: flex;
  flex-direction: row;
}

.contact-form {
  padding: 5vmin;
  border: 1px solid black;
  margin-top: 0;
  width: 50%;
  background-color: #356c9c;
  margin: 5vmin;
}

.contact-links {
  width: 50%;
  background-color: #356c9c;
  border: 1px solid black;
  padding: 5vmin;
  margin: 5vmin;
}

label {
  font-size: 2.5em;
  padding: 1vmin;
  margin-top: 1vmin;
}

.btn {
  margin-top: 2vmin;
}

.img-thumbnail {
  max-width: 50%;
  box-shadow: none;
}
